<header className="header">
    <nav class="navbars navbar-expand-lg  "> 
      <a class="navbar-brand" href=""><img src="../../assets/images/way2walkin logo.png" width="300px" /></a>
      
            <button class="btn btn-primary" (click)="logout()"  *ngIf='token'>Sign out <i class="fa fa-sign-out" aria-hidden="true"></i> </button>
            <button class="btn btn-primary" routerLink="/profile" *ngIf='token'><i class="fa fa-user" aria-hidden="true"></i> MyProfile </button>
    </nav>
   
  </header>