.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    margin-top: 4px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.btn-primary {
    color: #fff;
    font-weight: 450;
    background-color: #007bff;
    border-color: #007bff;
}
.btn { 
    padding: 5px; 
  }

 .navbars{
    background-color: #94acc4;
 }
 button{
    margin: 10px;;
  }