<h3 class="heading">DriveDetails</h3>
<div class="container driveDetails" *ngIf='driveDetails'>
  <p class="heading"> <img src={{driveDetails.image}} style="width: 180px;height: 180px "> </p>
  <h5 class="heading">{{driveDetails.heading}}</h5>
  <p class="city"><b>City : </b>{{driveDetails.city}}</p>
  <p class="description"><b>Description : </b>{{driveDetails.description}}</p>
  <p class="where"><b>Venue : </b>{{driveDetails.where}}</p>
  <p class="when"><b>Date And Time : </b>{{driveDetails.when}}</p>
  <p class="eligibility"><b>Eligibility : </b>{{driveDetails.eligibility}}</p>
  <p class="more_information"><b>More Information : </b>{{driveDetails.more_information}}</p>
  <a class="website_url" href={{driveDetails.url}}><b>Visit Website</b></a>

</div>
<br> <br>
<div class="container  row drivesoffeedback ">
  <div class="col-sm-6">
    <h4 class="heading">scheduledInterviews</h4>
    <div *ngIf='!scheduledInterviews'>
      <h5>No Candidates</h5>
    </div>
    <div *ngFor='let scheduledInterview of scheduledInterviews'>
      <div class="card-deck">
        <div class="col-sm-4">
          <img src={{scheduledInterview.candidate.image}} alt="noimage">
        </div>
        <div class="col-sm-8">
          <p><b>Name : </b> {{scheduledInterview.candidate.firstName}}</p>
          <p><b>Email : </b>{{scheduledInterview.candidate.email}}</p>
          <p><b>Interview Date: </b> {{scheduledInterview.when_interviewed}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h4 class="heading">completedInterviews</h4>
    <div *ngIf='!completedInterviews'>
      <h5>No Candidates</h5>
    </div>
    <div *ngFor='let completedInterview of completedInterviews'>
      <div class="card-deck">
        <div class="col-sm-4"> <img src={{completedInterview.candidate.image}} alt="noimage"> </div>
        <div class="col-sm-8">
          <p><b>Name : </b> {{completedInterview.candidate.firstName}}</p>
          <p><b>Email : </b>{{completedInterview.candidate.email}}</p>
          <p><b>Interview Date: </b> {{completedInterview.when_interviewed}}</p>
          <div *ngIf='completedInterview.feedBack'>
            <p *ngIf='completedInterview.feedBack.is_recommended'><b>Interviewers FeedBack : </b> Recommended</p>
            <p *ngIf='!completedInterview.feedBack.is_recommended'><b>Interviewers FeedBack : </b> Not Recommended</p>

            <div class="container">
              <button type="button" class="btn btn-primary" data-toggle="modal"
                [attr.data-target]="'#' + completedInterview.candidate.firstName">Feed Back</button>

              <div class="modal fade" id={{completedInterview.candidate.firstName}} role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Feed Back</h5>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="row" style=" margin-right:-10px;margin-left: -10px;">
                        <div class="col-sm-4"> <img src={{completedInterview.candidate.image}} alt="noimage"></div>
                        <div class="col-sm-8">
                          <p><b>Name : </b> {{completedInterview.candidate.firstName}}</p>
                          <p><b>Email : </b>{{completedInterview.candidate.email}}</p>
                          <p><b>Interview Date: </b> {{completedInterview.when_interviewed}}</p>
                        </div>
                      </div>
                      <hr>
                      <h5 class="heading">Interviewers FeedBack</h5>
                      <p><b>Comments : </b> {{completedInterview.feedBack.comments}}</p>
                      <p *ngIf='completedInterview.feedBack.is_recommended'><b>Recommended : </b> Recommended </p>
                      <p *ngIf='!completedInterview.feedBack.is_recommended'><b>Recommended : </b> Not Recommended</p>
                      <div *ngFor='let feedback of completedInterview.feedBack.drill_down_feedback'>
                        <p><b>Comment : </b> {{feedback.comment}}</p>
                        <p><b>FeedBack : </b> {{feedback.feedBack}}</p>
                        <p><b>Rating : </b>{{feedback.rating}}</p>
                        <p><b>Skill-Category : </b> {{feedback.skill_category}}</p>
                        <hr>
                        <h5 class="heading">Recruter FeedBack</h5>
                        <div class="row" style=" margin-right:-10px; margin-left: -10px;">
                          <div class="col-sm-5 mt-4">
                            <p><b>Skill : </b> {{feedback.skill}}</p>
                            <p><b>CutOff-Rating : </b> {{feedback.cutoff_rating}}</p>
                            <p><b>Max-Rating : </b>{{feedback.max_rating}}</p>
                          </div>
                          <div class="col-sm-7 video">
                            <video controls>
                              <source src="https://www.w3schools.com/css/mov_bbb.mp4" type="video/mp4" />
                            </video>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>