 
 .card-deck{ 
     margin-top: 20px;
     padding: 5px; 
     color:#00394d; 
     border-radius:10px;
     margin-bottom: 10px; 
     box-shadow: 4px 4px 4px 4px rgba(1, 1, 1, 0.2), 5px 5px 5px 5px rgba(0, 0, 0, 0.19);
 }
  img{
  margin-top: 15px; 
  width:100px;
  height:100px;
  border-radius: 50%;  
}
.col-sm-8{
  margin-top: 20px;
}
p,a{
  font-weight: 500;
  margin-left:2vw; 
  line-height: 20px;
  color: black;
} 
.driveDetails{
  padding: 10px;
  margin-top: 80px;
  width: 80%; 
  text-transform:capitalize;
  font-size: 16px;;
  font-weight: 400;
  border-radius: 9px; 
  box-shadow:10px 10px 10px 10px rgba(1, 1, 1, 0.2), 20px 20px 30px 20px rgba(0, 0, 0, 0.19);
}
b,.heading {
  color: #17a2b8; 
  text-transform:capitalize; 
}
.heading{
  text-align:center; 
}
.heading img{
  margin-top: -80px;
} 
.modal-header,.close{
  color: #17a2b8; 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.video{
  overflow: hidden;
  margin-left: -10px;
}
.row{ 
    display: -ms-flexbox; 
    overflow: auto;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 5vw;
    margin-left: 5vw;
}
 .drivesoffeedback{
  max-height: 900px;
 }