<div class="container ">
    <div class="row"> 
        <div class="col-md-6 offset-md-3 registration"> 
            <div class="card card-signin">
                <div class="card-body">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>First Name </label>
                            <input type="text" formControlName="firstname" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
                            <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                                <div *ngIf="f.firstname.errors.required">
                                    <p> FirstName is required</p>
                                </div>
                                <div *ngIf="f.firstname.errors.minlength">
                                    <p>FirstName must be at least 6 characters</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Last Name </label>
                            <input type="text" formControlName="lastname" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
                            <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                                <div *ngIf="f.lastname.errors.required">
                                    <p>LastName is required</p>
                                </div>
                                <div *ngIf="f.lastname.errors.minlength">
                                    <p>LastName must be at least 6 characters</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" formControlName="emailId" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
                            <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                                <div *ngIf="f.emailId.errors.required">
                                    <p> Email is required</p>
                                </div>
                                <div *ngIf="f.emailId.errors.email">
                                    <p>Email must be a valid email address</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" [(ngModel)]="password " formControlName="password"
                                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">
                                    <p>Password is required</p>
                                </div>
                                <div *ngIf="f.password.errors.minlength">
                                    <p>Password must be at least 6 characters</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>D.O.B</label>
                            <input type="date" formControlName="dateofbirth" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.dateofbirth.errors }" />
                            <div *ngIf="submitted && f.dateofbirth.errors" class="invalid-feedback">
                                <div *ngIf="f.dateofbirth.errors.required">
                                    <p> Date of Birth is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Gender </label><br>
                            Male<input type="radio" formControlName="gender" class="form-control" value="male"
                                [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" /> 
                                Female<input type="radio" formControlName="gender" class="form-control" value="female"
                                [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" /> 
                            <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                <div *ngIf="f.gender.errors.required">
                                    <p>Gender is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Skills </label>
                            <input type="text" formControlName="Skills" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.Skills.errors }" />
                            <div *ngIf="submitted && f.Skills.errors" class="invalid-feedback">
                                <div *ngIf="f.Skills.errors.required">
                                    <p> Skills is required</p>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label>Languages </label>
                            <input type="text" formControlName="language" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.language.errors }" />
                            <div *ngIf="submitted && f.language.errors" class="invalid-feedback">
                                <div *ngIf="f.language.errors.required">
                                    <p>language is required</p>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label>Phone No </label>
                            <input type="text" formControlName="PhoneNo" class="form-control" maxlength=10
                                [ngClass]="{ 'is-invalid': submitted && f.PhoneNo.errors }" />
                            <div *ngIf="submitted && f.PhoneNo.errors" class="invalid-feedback">
                                <div *ngIf="f.PhoneNo.errors.required">
                                    <p> PhoneNo is required</p>
                                </div>
                                <div *ngIf="f.PhoneNo.errors.minlength">
                                    <p>PhoneNo must be at least 10 digits</p>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label>Upload Image</label>
                            <input type="file" formControlName="fileToUpload" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.fileToUpload.errors }" accept="image/*" />
                            <div *ngIf="submitted && f.fileToUpload.errors" class="invalid-feedback">
                                <div *ngIf="f.fileToUpload.errors.required">
                                    <p> fileToUpload is required</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <button [disabled]="loading" routerLink="/registration"
                                class="btn btn-primary text-uppercase">registration <i class="fa fa-registered"
                                    aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>