
.form-group{
  position: relative; 
  margin-bottom: 1.5rem;
}
.row {
  margin-top: 10vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
form{
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow:10px 10px 10px 10px rgba(1, 1, 1, 0.2), 20px 20px 30px 20px rgba(0, 0, 0, 0.19);
}
label{
  font-size: 18px;
  font-weight: 450;
  color: #17a2b8; 
  text-transform:capitalize; 
}
.form-group {
  margin-bottom: .7rem;
}
input{
  border-radius: 20px;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}
p{
  font-size: 16px;
  color: red;
  font-weight: 430;
}
button{
  margin: 10px;;
}
.fa {
  display: inline-block; 
  font-size: 18px; 
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}