 
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Email</label>
          <input type="text" formControlName="emailId" (ngModelChange)="valuechange($event)"  class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
          <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
            <div *ngIf="f.emailId.errors.required"><p> Email is required</p></div>
            <div *ngIf="f.emailId.errors.email"><p>Email must be a valid email address</p></div>
          </div>
          <p> {{email_status}}</p>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" [(ngModel)]="password " (ngModelChange)="valuechange($event)" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />  
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required"><p>Password is required</p> </div>
            <div *ngIf="f.password.errors.minlength"><p>Password must be at least 6 characters</p></div>
          </div> 
              <p> {{password_status}}</p>
        
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Sign in <i class="fa fa-sign-in"
              aria-hidden="true"></i></button>
          <button [disabled]="loading" routerLink="/registration" class="btn btn-primary text-uppercase">registration <i
              class="fa fa-registered" aria-hidden="true"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>

  