<div className="main-registration-container2">
  <div classNmae="container-floating">
    <div className="register">
      <div className="row">
        <div className="col-sm-1"></div>
        <div className="col-sm-8">
          <h3 className="drive-heading">Create Drive</h3>


        </div>
        <div className="col-sm-2"></div>

      </div>

      <form method="post" name="userRegistrationForm" (ngSubmit)="onSubmit(f)"  #f="ngForm">
        <div>

        <div className="row">
          <div className="col-sm-1"></div>
          <div className="col-sm-8">
            <label>Heading</label>
            <input type="text" name="heading" id = "heading"  ngModel placeholder="Heading" />
            <!-- <div className="errorMsg">{{this.state.errors.heading}}</div> -->
          </div>
          <div className="col-sm-2"></div>
        </div>

        <div className="row">
          <div className="col-sm-1"></div>
          <div className="col-sm-8">
            <label>Sub Heading</label>
            <input type="text" name="subHeading" id = "subheading" ngModel placeholder=" Sub Heading" />
            <!-- <div className="errorMsg">{{this.state.errors.subHeading}}</div> -->
          </div>
          <div className="col-sm-2"></div>

        </div>
        <div className="row">
          <div className="col-sm-1"></div>
          <div className="col-sm-8">
            <label>Description</label>
            <textarea className="description col-sm-11 " type="text" ngModel name="description" id="description" rows={{5}} cols={{95}}></textarea>
            <!-- <div className="errorMsg">{{this.state.errors.description}}</div> -->
          </div>
          <div className="col-sm-2"></div>

        </div>

        <div className="row">
          <div className="col-sm-1"></div>
          <div className="col-sm-8">
            <label>City</label>
            <input type="text" name="city"  id="city" ngModel placeholder="city name"  />
            <!-- <div className="errorMsg">{{this.state.errors.city}}</div> -->
          </div>
          <div className="col-sm-2"></div>

        </div>

        <div className="row">
          <div className="col-sm-1"></div>
          <div className="col-sm-8">
            <label>Venue</label>
            <input type="text" name="where" id="where" ngModel placeholder="venue" />
            <!-- <div className="errorMsg">{{this.state.errors.where}}</div> -->
          </div>
          <div className="col-sm-2"></div>

        </div>

        <div className="row">
          <div className="col-sm-1"></div>
          <div className="col-sm-8">
            <label>Exactly</label>
            <input type="text" name="exactly"  id ="exactly" ngModel placeholder="specific information"  />
            <!-- <div className="errorMsg">{{this.state.errors.exactly}}</div> -->
          </div>
          <div className="col-sm-2"></div>

        </div>

        <div className="row">
          <div className="col-sm-1"></div>
          <div className="col-sm-8">
            <label>Date of Drive:</label>
            <input type="date" name="when" id="when" ngModel placeholder="date of Drive" />
            <!-- <div className="errorMsg">{{this.state.errors.when}}</div> -->
          </div>
          <div className="col-sm-2"></div>

        </div>


        <div className="row">
          <div className="col-sm-1"></div>
          <div className="col-sm-8">
            <label>URL:</label>
            <input type="text" name="url" id="url" ngModel placeholder="drive URL" />
            <!-- <div className="errorMsg">{{this.state.errors.url}}</div> -->
          </div>
          <div className="col-sm-2"></div>

        </div>


        <div className="row">
          <div className="col-sm-1"></div>
          <div className="col-sm-8">
            <label>Image:</label>
            <input type="text" name="image" id="image" ngModel/>
            <!-- <div className="errorMsg">{{this.state.errors.image}}</div> -->

          </div>
          <div className="col-sm-2"></div>

        </div>

        <div className="row">
          <div className="col-sm-1"></div>
          <div className="col-sm-8">
            <label>Eligibility:</label>
            <textarea className="description col-sm-11" type="text" name="eligibility" ngModel id="eligibility" rows={{5}} cols={{95}} ></textarea>
            <!-- <div className="errorMsg">{{this.state.errors.eligibility}}</div> -->

          </div>
          <div className="col-sm-2"></div>

        </div>

        <div className="row">
          <div className="col-sm-1"></div>
          <div className="col-sm-8">
            <label>More Information:</label>
            <textarea className="description col-sm-11" type="text" name="more" ngModel id="moreInformation" rows={{5}} cols={{95}}></textarea>
            <!-- <div className="errorMsg">{{this.state.errors.more}}</div> -->

          </div>
          <div className="col-sm-2"></div>

        </div>

        <div className="row">
          <div className="col-sm-1"></div>
          <div className="col-sm-8">
            <label>Mobile No:</label>
            <input type="text" name="phone" placeholder="Mobile Number" ngModel id="mobileno" />
            <!-- <div className="errorMsg">{{this.state.errors.phone}}</div> -->


          </div>
          <div className="col-sm-2"></div>

        </div>


        <div className="row">
          <div className="col-sm-1"></div>
          <div className="col-sm-8">
            <label>Tags:</label>
            <input type="text" name="tags" ngModel placeholder="Search tags ex-'name,short name'"  />
            <!-- <div className="errorMsg">{{this.state.errors.tags}}</div> -->
          </div>
          <div className="col-sm-2"></div>

        </div>


        <div className="row">

          <div className="col-sm-1"></div>
          <div className="col-sm-8">
            <label for ="selectemployee">Employers List:</label>
            <div className="size">
<!--               
                (this.props.all_employers_status) ?
                  (this.props.all_employers) ? -->
                    <div>
                      <p > <select  id="selectemployee" name="selectedValue" className="dropdown1" ngModel>
                        <option>---Select the Employer---</option>
                         <option *ngFor = "let employeesList of allEmployeesList" [value]="employeesList.userId">{{employeesList.firstName}}</option> 
                       
                          <!-- this.props.all_employers.map(employee => (
                            <option value={{employee.userId}>{{employee.firstName}</option>
                          )) -->
                      
                      </select></p>
                    </div> 
                    <!-- <div>No Employers are present</div> :
                  <div>Your Employer list is loading..</div>
              -->
            </div>
          </div>
          <div className="col-sm-2"></div>

        </div><br/>

        <div className="row">
          <div className="col-sm-1"></div>
          <div className="col-sm-6">
            <input type="submit" className="button1"  id="submit1" />
          </div>
          <div className="col-sm-3"></div>

        </div>

<!-- 
        {/* <label>Time of Drive:</label>
      <input type="time" name="time" value={{this.state.fields.time}} onChange={{this.handleChange}} />
      <div className="errorMsg">{{this.state.errors.time}}</div>

      <label>Last date to Apply:</label>
      <input type="date" name="before" value={{this.state.fields.before}} onChange={{this.handleChange}} />
      <div className="errorMsg">{{this.state.errors.before}</div> */} -->


        </div>
      </form>
    </div>
  </div>
</div>
