<h1 className="h1">Drive Details</h1>
<section id="team" class="pb-5">
  <div class="container1 frame">
    <div class="avatar-flip">
      <img className="img" src="https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_352/watch_before_a_job_interview_1200x627.jpg?c=1050%2C550&w=1050" width="140px" height="140px" />
      <img className="img" src="https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_352/watch_before_a_job_interview_1200x627.jpg?c=1050%2C550&w=1050" width="140px" height="140px" />
    </div>
    <h5 className="card-title">{{singleDrive.response.heading}}</h5><br />
    <p className="card-text">
      <b>City:&nbsp;</b>{{singleDrive.response.city}}
    </p><br />
    <p className="card-text">
      <b>Description:&nbsp;</b>{{singleDrive.response.description}}
    </p><br />
    <p className="card-text">
      <b>Venue:&nbsp;</b>{{singleDrive.response.where}}
    </p><br />
    <p className="card-text">
      <b>Date and time :&nbsp;</b>{{singleDrive.response.when}}
    </p>
    <br />
    <p className="card-text">
      <b>Eligibility:&nbsp;</b>{{singleDrive.response.eligibility}}
    </p>
    <br />
    <p className="card-text">
      <b>More Information :&nbsp;</b>{{singleDrive.response.more_information}}
    </p>
  </div>
</section>

    <!-- <app-recuriter-drive-footer ></app-recuriter-drive-footer> -->
    <div class="container">
        <h2>Dynamic Pills</h2>
        <p>To make the tabs toggleable, add the data-toggle="pill" attribute to each link. Then add a .tab-pane class with a
            unique ID for every tab and wrap them inside a div element with class .tab-content.</p>
        <ul class="nav nav-pills">
    
            <li><a data-toggle="pill" href="#registrations">registrations</a></li>
            <li><a data-toggle="pill" href="#shedules">sheduleInterviews</a></li>
            <li><a data-toggle="pill" href="#interviews">interviews</a></li>
        </ul>
    
        <div class="tab-content">
    
            <div id="registrations" class="tab-pane fade">
                <div>
                    <div className="registered-candidates">
                        <div *ngIf="registrations.length > 0; else elseBlockregistrations">
                            <div *ngFor="let registrationsforInterview of registrations">
                                    <a routerLink="/">Dashboard
                                <button className="registration-details">
                                    <p><b> Name :</b>{{registrationsforInterview.by.firstName}}{{registrationsforInterview.by.lastName}}
                                    </p>
                                    <p><b>Email :</b>{{registrationsforInterview.by.email}}</p>
                                </button>
                                </a>
                                <button className="registration-details">SCHEDULE</button>
                            </div>
                        </div>
                        <ng-template #elseBlockregistrations>no registrations....</ng-template>
                    </div>
                
                </div>
            </div>
            <div id="shedules" class="tab-pane fade">
                <div>
                    <div className="registered-candidates">
                        <div *ngIf="sheduledInterviews.length > 0; else elseBlockshedule">
                            <div *ngFor="let candidateSheduleInterview of sheduledInterviews">
                                <button className="registration-details">
                                    <p><b> Name :</b>{{candidateSheduleInterview.candidate.firstName}}{{candidateSheduleInterview.candidate.lastName}}
                                    </p>
                                    <p><b>Email :</b>{{candidateSheduleInterview.candidate.email}}</p>
                                </button>
    
                                <button className="registration-details" className="btn-fb btn-secondary">
                                        RESCHEDULE</button>
                            </div>
                        </div>
                        <ng-template #elseBlock>no sheduled interviews</ng-template>
                    </div>
                </div>
            </div>
            <div id="interviews" class="tab-pane fade">
                <div>
                    <div className="registered-candidates">
                        <div *ngIf="interviews.length > 0; else elseBlock">
                            <div *ngFor="let caninterview of interviews">
                                <button className="registration-details">
                                    <p><b> Name :</b>{{caninterview.candidate.firstName}}{{caninterview.candidate.lastName}}
                                    </p>
                                    <p><b>Email :</b>{{caninterview.candidate.email}}</p>
                                </button>
                                <div class="container">
                                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                        data-target="#myModal">Feedback</button>
    
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog">
    
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">feedback</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Name: <span>{{caninterview.candidate.firstName}}</span><br />
                                                    EmailIdL: <span>{{caninterview.candidate.email}}</span><br />
                                                    userId: <span>{{caninterview.candidate.userId}}</span><br />
                                                    phoneno: <span></span>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Interviewers feedback</p>
                                                    comments:<span>{{caninterview.feedBack.comments}}</span><br />
                                                    Recommended:<span
                                                        *ngIf="caninterview.feedBack.is_recommended; else elseBlock1">Recomended</span><br />
                                                    <ng-template #elseBlock1>not Recomended</ng-template>
                                                    <div *ngFor="let drill_down_feedback1 of  drill_down_feedback">
                                                        comment:<span>{{drill_down_feedback1.comment}}</span><br />
                                                        feedback:<span>{{drill_down_feedback1.feedBack}}</span><br />
                                                        Rating:<span>{{drill_down_feedback1.rating}}</span><br />
                                                        skill_category:<span>{{drill_down_feedback1.skill_category}}</span><br />
    
                                                        <hr />
                                                        <p>Recuriter feedback</p>
                                                        skill:<span>{{drill_down_feedback1.skill}}</span><br />
                                                        cuttofrating:<span>{{drill_down_feedback1.cutoff_rating}}</span><br />
                                                        maxrating:<span>{{drill_down_feedback1.max_rating}}</span><br />
    
                                                    </div>
    
                                                </div>
                                                video :
                                                <video controls>
                                                    <source src="https://www.w3schools.com/css/mov_bbb.mp4"
                                                        type="video/mp4" />
                                                </video>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <ng-template #elseBlock>there is no completed interview candidates</ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <hr>         

