<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor='let drive of drives '>
      <div class="card profile-card-5">
        <div class="card-img-block">
          <img class="card-img-top" src={{drive.image}} style="height:150px">
        </div>
        <div class="card-body pt-0">
          <h5 class="card-title">{{drive.heading}}</h5>
          <h6 class="card-title">Drive Date: {{drive.when}} </h6>
          <p> <a href={{drive.url}}>Visit Site</a></p> 
          <a [routerLink]="['/DriveDetails']" [queryParams]="{id:drive.driveId}"><button class="btn btn-primary">Read</button> </a> 
        </div>
      </div>
    </div>
  </div>