
.profile-card-5 {
    margin-top: 25px;
    margin-left:-5px;
    width: 105%;
     
  }
  .card-body{
    min-height: 200px;
  }

  .profile-card-5 .btn {
    border-radius: 5px;
    
    text-transform: uppercase;
    font-size: 12px;
    padding: 7px 20px;
  }

  .profile-card-5 .card-img-block {
    width: 92%;
    margin: 0 auto;
    position: relative;
    top: -10px;

  }

  .profile-card-5 .card-img-block img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  }
  .profile-card-5{
    border-radius: 9px; 
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);

  }
  
  .profile-card-5 h5,h6 {
    color: #17a2b8;
    text-transform:capitalize;
    font-weight: 450;
  }

  .profile-card-5 p {
    font-size: 14px;
    font-weight: 300;
  }

  .profile-card-5 .btn-primary {
    background-color: #17a2b8;
    border-color: #17a2b8;
  }

  a{
      text-decoration: none;
      font-size:16px;
      font-weight: 500; 
  }

   