<div class="container">
    <h3 class="heading">DriveDetails</h3>
    <div class="container driveDetails" *ngIf='drives'>
      <p class="heading"> <img src={{drives.image}} style="width: 180px;height: 180px "> </p>
      <h5 class="heading">{{drives.heading}}</h5>
      <p class="city"><b>City : </b>{{drives.city}}</p>
      <p class="description"><b>Description : </b>{{drives.description}}</p>
      <p class="where"><b>Venue : </b>{{drives.where}}</p>
      <p class="when"><b>Date And Time : </b>{{drives.when}}</p>
      <p class="eligibility"><b>Eligibility : </b>{{drives.eligibility}}</p>
      <p class="more_information"><b>More Information : </b>{{drives.more_information}}</p>
      <a class="website_url" href={{drives.image}}><b>Visit Website</b></a>
    </div>
  </div><br> 
  <h3 class="heading">Candidates</h3>
  <div class="container col-sm-5" *ngFor="let registration of registrations">
      <div class="card-deck ">
        <div class="col-sm-4">
          <img src={{registration.by.image}} alt="noimage">
        </div>
        <div class="col-sm-8">
          <p class="city"><b>Name : </b>{{registration.by.firstName}} {{registration.by.lastName}}</p>
          <p class="city"><b>Email : </b>{{registration.by.email}}</p>
          <p class="city"><b>Phone : </b>{{registration.by.phoneNo}}</p>
          <p class="city"><b>Skills : </b>{{registration.by.skillTags}}</p>
    
          <div class="container">
              <button type="button" class="btn btn-primary" data-toggle="modal"
                [attr.data-target]="'#' + registration.by.firstName">Feed Back</button>
    
              <div class="modal fade" id={{registration.by.firstName}} role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Feed Back</h5>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                       
                        {{registration.by.firstName}}
                       
                          </div> 
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
    
                </div>
              </div>
    
            </div>
        </div>
      </div>
    </div>
    
    
     