<div class="container  row drivesoffeedback ">
  <div class="col-sm-6 ">
    <h4 class="heading">scheduled Interviews Drives</h4> 
    <div *ngIf='!scheduledInterviews'>
      <h5>No Drives</h5>
    </div>
    <div *ngFor='let drive of scheduledInterviews'>
      <div class="card-deck">
        <div class="col-sm-4">
          <img src={{drive.drive.image}} alt="noimage" style="height:120px;width: 120px">
        </div>
        <div class="col-sm-8">
          <p> {{drive.drive.heading}}</p>
          <p>Drive Date: {{drive.drive.when}}</p>
          <p> Register Before: {{drive.drive.register_before}}</p>
          <p><a href={{drive.drive.url}}>Visite Site</a></p>
          <a [routerLink]="['/InterviewDrivegivefeedback']" [queryParams]="{id:drive.drive.driveId}"><button
              class="btn btn-primary">Read</button></a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 ">
    <h4 class="heading">completed Interviews Drives</h4>
    <div *ngIf='!completedInterviews'>
      <h5>No Drives</h5>
    </div> 
    <div *ngFor='let drive of completedInterviews'>
      <div class="card-deck">
        <div class="col-sm-4">
          <img src={{drive.drive.image}} alt="noimage" style="height:120px;width: 120px">
        </div>
        <div class="col-sm-8">
          <p> {{drive.drive.heading}}</p>
          <p>Drive Date: {{drive.drive.when}}</p>
          <p>Register Before: {{drive.drive.register_before}}</p>
          <p><a href={{drive.drive.url}}>Visite Site</a></p>
          <a [routerLink]="['/InterviewDrivegetfeedback']" [queryParams]="{id:drive.drive.driveId}"><button
              class="btn btn-primary">Read</button></a>
        </div>
      </div>
    </div>
    </div>
  </div>
 