  
 .card-deck{ 
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px; 
  color:#00394d; 
  border-radius:10px;
  margin-bottom: 10px; 
  box-shadow: 4px 4px 4px 4px rgba(1, 1, 1, 0.2), 5px 5px 5px 5px rgba(0, 0, 0, 0.19);
}
img{
margin-top: 15px; 
width:100px;
height:100px;
border-radius: 50%;  
}
.col-sm-8{
margin-top: 20px;
}
p{
font-weight: 500;
margin-left:2vw; 
line-height: 20px;
color: black;
} 
.row{ 
    display: -ms-flexbox; 
    overflow: auto;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 5vw;
    margin-left: 5vw;
   }