.Details{
    padding: 10px;
    margin-top: 80px;
    width: 60%; 
    text-transform:capitalize;
    font-size: 17px;
    font-weight: 400;
    border-radius: 9px; 
    box-shadow:10px 10px 10px 10px rgba(1, 1, 1, 0.2), 20px 20px 30px 20px rgba(0, 0, 0, 0.19);
  }
 
  img{
    margin-top: 15px; 
    width:100px;
    height:100px;
    border-radius: 50%;  
  }
  .heading{
    margin-top: -80px;
    text-align: center;
  }
  p{
    font-weight: 500;
    margin-left:2vw; 
    line-height: 16px;
    color: black;
  } 
  b{
    color: #17a2b8;  
 }