
<div class="container Details" *ngIf='details'>
  <p class="heading"> <img src={{details.image}} style="width: 160px;height: 160px "> </p>
  <p class="name"><b>Name : </b>{{details.firstName}} {{details.lastName}}  </p>
  <p class="id"><b>ID : </b>{{details.userId }}</p>
  <p class="dob"><b>D.O.B : </b>{{details.dateOfBirth}}</p>
  <p class="gender"><b>Gender : </b>{{details.gender}}</p>
  <p class="email"><b>Email : </b>{{details.email}}</p>
  <p class="phoneno"><b>Phone no : </b>{{details.phoneNo}}</p>
  <p class="languages"><b>Languages : </b>{{details.languageTags}}</p>
  <p class="skill"><b>Skill : </b>{{details.skillTags}}</p> 
  </div>  