
  <div class="card-deck">
  
    <div> 
        <div className="container">
            <div className="row "> 
              
                <div className="col-md-3 col-lg-3 col-sm-12"  *ngFor="let driveDetails of data1" routerLink="/article/{{driveDetails.driveId}}">
                   
                    <div  class="card shadow-lg p-3 mb-5 bg-black rounded">
                        <div class="card-body text-center">
                            <img className='card-img-top' src={driveDetails.image} />
                            <h4 class="card-title">{{driveDetails.heading}}</h4>
                            <p class="card-text"><b>Venue :</b> {{driveDetails.where}}</p>
                            <p class="card-text"><b>Apply : </b>{{driveDetails.url}}</p>
                            <p class="card-text"><b>Last Day :</b>{{driveDetails.register_before}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div> 
      </div>